@charset "UTF-8";

.text-litegrean {
    color: rgb(135, 231, 111);
}

.text-blue {
    color: rgb(129, 212, 233);
}

.bg-black {
    background-color: rgb(0, 0, 0);
}
span {
    border: 2px dotted blueviolet;
}