@charset "utf-8";
    
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top; 
    border: 1px solid white;
}

th {
    background-color: #6af5e9;
    color: #000000;
    font-weight: bold;
}

td {
    background-color: #92929294;
    color: #443f3f;
    font-weight: bold;
}
.indispensability{
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}
span{
    font-size: 0.5rem;
}
