<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index-style.css">
    <link rel="stylesheet" type="text/css" href="all-style.css">
    <link rel="stylesheet" type="text/css" href="about-style.css">
    <title>(Wa no Niwa) -About</title>
    
    <!-- reset.css modern-css-reset -->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&family=Yuji+Syuku&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="background">
            <div class="logo">
                <img src="img\menu\logo.svg" alt="ロゴ">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="location.html">Location</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

            <ol class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
            </ol>
        </nav>
    </header>
    <main>
        <h1>和の庭 Wa no Niwa</h1>
        <h2>伝統と革新の融合で、日本の美をお届け</h2>
        <article class="frame">
            <!-- ここに画像(exterior.jpg)を貼り付け -->
            <img src="img\about\exterior.jpg" alt="Exterior Image" class="float-left">

            <p>当店へようこそ、和風の美しさと繊細さが共鳴する料理の世界へ。私たちの和風レストランは、日本の伝統的な食文化を尊重し、新鮮な食材と熟練の技術を通じて、お客様に心温まる食事体験を提供しています。</p>
            <p>私たちのシェフたちは、季節ごとの食材を大切にし、伝統的な和食からモダンな和風料理まで幅広いメニューを誇ります。料理の一つ一つは、日本の四季や風景、文化を反映し、美味しさと美しさが融合した絶品の味わいをお届けします。当店は、居心地の良い雰囲気と日本の美的感覚に彩られた内装でお客様をお出迎えし、食事のひとときを特別なものに変える場所です。お料理の美しさと味わい、そして温かいおもてなしを通じて、日本の伝統と文化に触れ、心温まるひとときを過ごしていただけることでしょう。私たちのレストランは、特別な日や友人との食事、家族団らん、ビジネスランチ、ロマンチックなディナーなど、さまざまなシーンに合わせて最適な場所です。お越しいただいた際には、私たちの和風の魅力に触れ、食事のアートをお楽しみいただけることを心より願っております。
            </p>
        </article>
        <h2>私たちの使命とビジョン</h2>
        <article>
            <div class="frame">
                <!-- ここに画像(manager.jpg)を貼り付け -->

                <img src="img\about\manager.jpg" alt="Exterior Image" class="float-left">
                <h3>店長<br>松本 昭夫<br>Akio Matsumoto</h3><br>
                <p>いつも当店をご愛顧いただき、誠にありがとうございます。和の庭は、日本の美しい伝統と食文化を皆さまにお届けする場所です。私たちの料理は、新鮮で贅沢な食材、熟練の職人技、そしておもてなしの心を詰め込んでおり、それぞれの皿に日本の四季と風景が宿っています。私たちの使命は、お客様に心温まる食事体験を提供し、和風の美しさと味わいをお楽しみいただくことです。私たちは、季節ごとに変わるメニューを誇りに思い、お客様の期待を超えるお料理をご提供します。私たちのスタッフは、おもてなしの心を大切にし、皆さまを温かくお迎えし、くつろいでいただける雰囲気を作り上げる努力を惜しまないことをお約束いたします。お食事のひとときが特別で、思い出に残るものとなるよう、全力でお手伝いさせていただきます。和の庭へのご来店をお待ちしております。私たちの料理とおもてなしを通じて、日本の美しさと文化に触れ、心温まるひとときを過ごしていただけることを楽しみにしております。どうぞお気軽にご来店ください。</p>
            </div>
                <div class="frame">
		        <!-- ここに画像(clerk.jpg)を貼り付け -->
                <img src="img\about\clerk.jpg" alt="Exterior Image" class="float-left">
                <h3>店員<br>山田 美咲<br>Misaki yamada</h3><br>
                <p>こんにちは、和の庭へようこそ。私たちはここでお客様をお迎えし、特別なひとときを提供することを誇りに思っています。当店は、日本の美しい伝統と風味豊かな料理をお楽しみいただける場所で、お食事が思い出に残るものとなるよう努力しています。私たちのスタッフは、おもてなしの心を大切にし、笑顔でお迎えし、くつろいでいただける雰囲気を作り上げることを重要視しています。お客様が心地よくお過ごしいただけるよう、お手伝いさせていただきます。また、和風の料理や文化について質問があれば、どうぞ気軽にお尋ねください。お手伝いできることがあれば、お知らせいただければと思います。私たちは、お客様とのふれあいを大切にし、美味しい料理と温かなおもてなしを通じて、素晴らしい食事体験を提供します。当店へのご来店を楽しみにお待ちしております。どうぞお気軽にお立ち寄りください。</p>
            </div>
        </article>
    </main>
    <footer>
        ここはフッター部です。企業情報やコピーライトなどが入ります。
        <p>&copy; 2023 Morijyobi. All rights reserved.</p>
    </footer>
   
</body>
</html>