header, footer{
    background-color: beige;
    padding: 0.5rem;
}

body{
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-family: 'Yuji Syuku', serif;
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-family: 'Yuji Boku', serif;
    
}

.background {
    background-image: url(img/menu/header.jpg);
    background-position: center;
}

.logo {
    text-align: center;
    background-color: rgba(0,0,0,0.26);
}

header img {
    width: 30rem;
    display: inline-block;
} 