
<!DOCTYPE html>
<html dir="ltr" lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="岩手の観光サイトです。">
<meta name="keywords" content="">
<title>魅力紹介_春</title>
<link rel="stylesheet" href="cook.css" type="text/css" media="screen">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="js/jquery1.7.2.min.js"></script>
<script src="js/script.js"></script>
</head>
<body>
<!-- ヘッダー -->
<div id="header">
	<div class="inner">
		<!-- ロゴ -->
		<div class="logo">
			<a href="index.html">Iwate Tourism<br><span>Truma Syun Tenkai Kensin</span></a>
      <h1>岩手観光サイト</h1>
		</div>
		<!-- / ロゴ -->
    
	  <!-- メインナビゲーション -->
    <nav id="mainNav">
  		<a class="menu" id="menu"><span>MENU</span></a>
			<div class="panel">
				<ul>
					<li class="active"><a href="index.html">トップページ<br><span>Top</span></a></li>
					<li><a href="miryoku.html">魅力紹介<br><span>MIRYOKU</span></a></li>
					<li><a href="prof.html">ライターページ<br><span>PROFILE</span></a></li>
				</ul>
      </div>
    </nav>
		<!-- メインナビゲーション -->
    
</div>
<!-- / ヘッダー -->

<!-- サブ画像 -->
<div id="mainBanner" class="subImg">
  <div class="inner">
		<img src="images/m_e4.jpg" alt="" width="930" height="190">
    <div class="slogan">
			<h2>岩手県</h2>
			<h3>魅力紹介【春】</h3>
		</div>
	</div>
</div>
<!-- / サブ画像 -->

<div id="wrapper">

	<!-- コンテンツ -->
	<section id="main">

		<section class="content">
			<h3 class="heading">北上展勝地</h3>
			<article>
				<img src="images/haru1.jpg" width="320" height="240" alt="" class="alignright frame">
				<p>岩手県北上市の展勝地では2キロにわたる桜並木があり、その桜の木の本数はなんと１万本にもおよびます。夜にはライトアップされ、また違う美しさの桜を見ることができるでしょう。
					(4月9日から4月30日に展勝地さくらまつりが開催されます。)
					</p>
			</article>
		</section>
    
		<section class="content">
			<h3 class="heading">グルメ</h3>
			<article>
				<img src="images/hukudapan.jpg" width="320" height="240" alt="" class="alignleft frame">
				<p>福田パン</p>
				<p>岩手県のソウルフード、福田パンを知っていますか?50種類以上の具材から自由に選びオリジナルのパンを食べることができます。しかもリーズナブル!! (140円～300円)
					(手軽なお土産にもなったりするかも⁉)
					人気メニュー
					・あんバター
					・コンビーフ+たまご
					・キーマカレー
					・クッキーバニラ　  などなど
					</p>
			</article>
		</section>

		<section class="content">
			<h3 class="heading">お土産</h3>
			<article>
				<img src="images/990005889_1.jpg" width="320" height="240" alt="" class="alignright frame">
				<p>かもめの玉子</p>
				<p>岩手のお土産といえばコレ!!かもめの玉子です。
					しっとりとした黄身餡をカステラとホワイトチョコで包んだお菓子で、
					スタンダードな黄身餡味からリンゴ、チョコ、栗とバリエーションも豊か。
					これを食べずして甘党は名乗れない！
					是非、手に入れてみてほしい一品です。
					</p>
			</article>
		</section>
	</section>
	<!-- / コンテンツ -->

</div>
<!-- / WRAPPER -->

<!-- フッター -->
<div id="footer">
	<div class="inner">
    
		<!-- 3カラム -->
    <section class="gridWrapper">
      
			<article class="grid">
      	<!-- ロゴ -->
				<p class="logo"><a href="index.html">Iwate Tourism<br /><span>Truma Syun Tenkai Kensin</span></a></p>
				<!-- / ロゴ -->
			</article>
			
      <article class="grid copyright">
      	Git kadai wwwwwwwwwwwwwwwwwwwwwwwwwww</a>
			</article>
		
    </section>
		<!-- / 3カラム -->
      
	</div>
</div>
<!-- / フッター -->

</body>
</html>