<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index-style.css">
    <link rel="stylesheet" type="text/css" href="all-style.css">
    <title>(Wa no Niwa) -Location</title>
    <!-- reset.css modern-css-reset -->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Yuji+Hentaigana+Akari&family=Yuji+Hentaigana+Akebono&family=Yuji+Syuku&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
        <div class="background">
            <div class="logo">
                <img src="img\menu\logo.svg" alt="ロゴ">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="location.html">Location</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

            <ol class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Location</a></li>
            </ol>
        </nav>
    </header>
    <main>
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98225.5104019909!2d141.06039032109882!3d39.70488365123674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f857630971ceb65%3A0xa71278d9c8f84080!2zTUNM55ub5bKh5oOF5aCx44OT44K444ON44K577yG44OH44K244Kk44Oz5bCC6ZaA5a2m5qChIOODh-OCtuOCpOODs-aDheWgsemkqA!5e0!3m2!1sja!2sjp!4v1700015251064!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <footer>
        ここはフッター部です。企業情報やコピーライトなどが入ります。
        <p>&copy; 2023 Morijyobi. All rights reserved.</p>
    </footer>
   
</body>
</html>