<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index-style.css">
    <link rel="stylesheet" type="text/css" href="all-style.css">
    <link rel="stylesheet" type="text/css" href="menu-style.css">
    <title>(Wa no Niwa) -Menu</title>
    <!-- reset.css modern-css-reset -->
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&family=Yuji+Hentaigana+Akari&family=Yuji+Hentaigana+Akebono&family=Yuji+Syuku&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="background">
            <div class="logo">
                <img src="img\menu\logo.svg" alt="ロゴ">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="location.html">Location</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

            <ol class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
            </ol>
        </nav>
    </header>

    <div id="page_top"><a href="#"></a></div>
    <main>
        <div class="menu">
            <h2>お品書き</h2>
            <div class="menu-list">
                <section>
                    <h3><a href="#syusai">前菜</a></h3>
                    <ul>
                        <li><a href="#yakitori">和風焼き鳥</a></li>
                        <li><a href="#sasimi">刺身盛り合わせ</a</li>
                        <li><a href="#tempura">天ぷらの盛り合わせ</a></li>
                    </ul>
                </section>
                <section>
                    <h3><a href="#syusai">主菜</a></h3>
                    <ul>
                        <li><a href="#sukiyaki">和風鍋（すき焼き）</a></li>
                        <li><a href="#susi">寿司プレート</a></li>
                        <li><a href="#udon">和風だしベースうどん</a></li>
                    </ul>
                </section>
                <section>
                    <h3><a href="#syusai">デザート</a></h3>
                    <ul>
                        <li><a href="#kuromitu">黒蜜大福</a></li>
                        <li><a href="#aisukuri-mu">和三盆アイスクリーム</a></li>
                        <li><a href="#thiramisu">抹茶ティラミス</a></li>
                    </ul>
                </section>
            </div>
            <div class="menu-item">
                <h3><span id="zensai">前菜</span></h3>
                <ul>
                    <li><span id="yakitori">和風焼き鳥</span>
                        <p>新鮮な鶏肉や野菜を、炭火でじっくりと焼き上げた逸品です。<br>醤油、たれ、塩からお好みに合わせて選択できます。</p>
                        <img src="img/menu/yakitori.jpg" alt="和風焼き鳥">
                    </li>
                    <li><span id="sasimi">刺身盛り合わせ</span>
                        <p>まぐろ、鯛、鮭、車海老、ハマチなど、海から採れたばかりの最高の海鮮が並びます。<br>一口食べるたびに、新鮮な海の味わいが口の中で広がり、贅沢な味が楽しめます。</p>
                        <img src="img/menu/sasimi.jpg" alt="刺身盛り合わせ">
                    </li>
                    <li><span id="tenpura">天ぷらの盛り合わせ</span>
                        <p>新鮮な海鮮や季節の野菜が、サクサクとした衣で包み込まれています。<br>外はカリっと、内部は柔らかくジューシーな素材が楽しめます。</p>
                        <img src="img/menu/tenpura.jpg" alt="天ぷらの盛り合わせ">
                    </li>
                </ul>
            </div>
            <div class="menu-item">
                <h3><span id="syusai">主菜</span></h3>
                <ul>
                    <li><span id="sukiyaki">和風鍋（すき焼き）</span>
                        <p>新鮮な和牛の薄切り肉、野菜、豆腐が、特製の甘辛い醤油ダレで煮込まれます。<br>料理の最後に卵を割り入れ、とろりとした卵とともにいただく瞬間は、まさに幸せのひとときです。</p>
                        <img src="img/menu/sukiyaki.jpg" alt="和風鍋（すき焼き）">
                    </li>
                    <li><span id="susi">寿司プレート</span>
                        <p>新鮮な海の宝石が、一皿に美しく並べられた真の芸術品。<br>握り寿司、巻き寿司など、多彩な寿司が職人の繊細な技術で仕上げられています。</p>
                        <img src="img/menu/susi.jpg" alt="寿司プレート">
                    </li>
                    <li><span id="udon">和風だしベースうどん</span>
                        <p>和風だしのベースは、昆布や鰹節、醤油で作られ、深い風味とコクが特徴です。<br>だしがもたらす奥深い味わいに、うどんのもちもちとした食感が調和し、一杯の幸福を提供します。</p>
                        <img src="img/menu/udon.jpg" alt="和風だしベースうどん">
                    </li>
                </ul>
            </div>
            <div class="menu-item">
                <h3><span id="deza-to">デザート</span></h3>
                <ul>
                    <li><span id="kuromitudaifuku">黒蜜大福</span>
                        <p>もちもちの白玉餡に包まれた、ほんのり甘い黒蜜が特徴です。<br>白玉の食感が、口の中でとろけるような甘さと絶妙に組み合わさり、贅沢な一口が楽しめます。</p>
                        <img src="img/menu/daihuku.jpg" alt="黒蜜大福">
                    </li>
                    <li><span id="aisukuri-mu">和三盆アイスクリーム</span>
                        <p>和三盆糖のほんのりした甘さが特徴で、日本の美しい風景や文化を思い起こさせる一杯です。<br>贅沢な甘味を楽しむことができます。</p>
                        <img src="img/menu/ice.jpg" alt="和三盆アイスクリーム">
                    </li>
                    <li><span id="thiramisu">抹茶ティラミス</span>
                        <p>濃厚なマスカルポーネチーズと抹茶の風味が、口の中で甘さと苦みの絶妙なダンスを繰り広げます。<br>抹茶愛好家やデザート好きにとっては、必ずや心躍る一皿でしょう。</p>
                        <img src="img/menu/tiramisu.jpg" alt="抹茶ティラミス">
                    </li>
                </ul>
            </div>

        </div>
    </main>
    <footer>
        ここはフッター部です。企業情報やコピーライトなどが入ります。
        <p>&copy; 2023 Morijyobi. All rights reserved.</p>
    </footer>
   
</body>
</html>