@charset "utf-8";
body{
  background-image: url(img/kyugeki_Image\ Enhancer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

 

 h2,h3{
      text-align: center;
      color: white;
      text-shadow:1px 1px 0 black, -1px -1px 0 black,
      -1px 1px 0 black, 1px -1px 0 black,
      0px 1px 0 black,  0-1px 0 black,
      -1px 0 0 black, 1px 0 0 black;
  }




  header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
  }

  .nav {
    list-style: none;
    overflow: hidden;
  }




  h1{
    color: white;
      text-shadow:1px 1px 0 black, -1px -1px 0 black,
      -1px 1px 0 black, 1px -1px 0 black,
      0px 1px 0 black,  0-1px 0 black,
      -1px 0 0 black, 1px 0 0 black;
      font-size: 50px;
      margin-top: 200px;
  }

  .name{
    color: white;
      text-shadow:1px 1px 0 black, -1px -1px 0 black,
      -1px 1px 0 black, 1px -1px 0 black,
      0px 1px 0 black,  0-1px 0 black,
      -1px 0 0 black, 1px 0 0 black;
      font-size: 35px;
  }
  .embed-container iframe {
    border: 2px solid #ccc; 
    border-radius: 8px; 
   
  
  }

 

  section{
    width: 300px;
    margin-top: 200px;
  }
 
  aside{
    width: 500px;
    margin-left: 300px
    
    
  }
  
  
  .contents{
    display: flex;
    width: 960px;
    margin: auto;
  }
  
  .contents section{
    margin-bottom: 30px;
    background-color: lightgrey;
    opacity: 0.7;
    border: 2px solid #ac4dff; 
    color: #8800ff
  }

  .h1{
    color: white;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
    
  }

  p{
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    font-size: 25px;
    margin-top: 50px;
    font-family: 'Yuji Syuku', serif;
  }

  
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1px; 
  right: 100px;
  margin-left: 50px; 
  font-size: 100px;
  
}

.main-nav {
  display: flex;
  margin-top: 60px;
}

.main-nav li {
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Yuji Syuku', serif;
  
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #ff1e00;
}


iframe{
  border: 2px solid #ccc; 
  border-radius: 8px; 
}

ol{
  font-family: 'Yuji Syuku', serif;
  margin-left: 50px;
}

img{
  border: 2px solid #ccc; 
  border-radius: 8px; 
}


#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #000000;
  background-color:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
  opacity: 0.6;
}

#page_top:hover {
  background: #ff1e00;
}

#page_top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 50%; 
}

#page_top a::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  transition: color 0.3s ease;
  border-radius: 50%;

}
