body {
    background-image: url(img/1+2_Image\ Enhancer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Yuji Syuku', serif;
}

.content-container {
    display: flex;
    width: 100%;
}

.image-container {
    margin-right: 20px;
}

.image-container img {
    width: 850px;
    height: auto;
    display: block;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.text-container {
    flex: 2;
}

p {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    margin-top: 75px;
    margin-left: 50px;
    font-family: 'Yuji Syuku', serif;
    opacity: 0.8;
    text-shadow:1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
    0px 1px 0 rgb(255, 255, 255),  0-1px 0 rgb(255, 255, 255),
    -1px 0 0 black, 1px 0 0 rgb(255, 255, 255);

}


header {
    width: 960px;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px
}


.nav {
    list-style: none;
    overflow: hidden;
  }

ul {
    list-style: none;
    margin-top: 100px;
    position: absolute;
    top: 1px;
    right: 100px;
    margin-left: 50px;
    font-size: 20px;
    text-shadow:1px 1px 0 black, -1px -1px 0 black,
    -1px 1px 0 black, 1px -1px 0 black,
    0px 1px 0 black,  0-1px 0 black,
    -1px 0 0 black, 1px 0 0 black;
}

.main-nav {
    display: flex;
    margin-top: 60px;
  }
  
  .main-nav li {
    margin: 0 20px;
    font-size: 20px;
    list-style: none;
    font-family: 'Yuji Syuku', serif;
    
  }
  
  .main-nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    transition: color 0.3s ease; 
  }
  
  .main-nav a:hover {
    color: #9500ff; 
  }
  

img {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-left: 100px;
    opacity: 0.8;
}

.content-container1 {
    display: flex;
    flex-direction: row-reverse; 
}

.text-container1 {
        text-align: right;
        padding-left: 20px; 
    }


.image-container1 {
    margin-left: 20px;
}

.text-container1 a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b00ff;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 90px; 
    margin-right: 350px;
  
    opacity: 0.9;
    transition: background-color 0.3s ease; 
}

.text-container1 a:hover {
    background-color: #8f0000;
}

#page_top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background:  #7b00ff;
    opacity: 0.6;
  }
  
  #page_top:hover {
    background: #8f0000; 
  }
  
  #page_top a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 50%; 
  }
  
  #page_top a::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    transition: color 0.3s ease;
    border-radius: 50%;
  
  }
  