header, footer{
    background-color: rgb(245, 245, 174);
    padding: 0.5rem;
}

body{
    font-family: 'Yuji Hentaigana Akari', cursive;
    font-family: 'Yuji Syuku', serif;
    font-family: 'Yuji Hentaigana Akebono', cursive;
    font-family: 'Yuji Boku', serif;
    color: aliceblue;
}

.background {
    background-image: url(img/it_1026.jpg);
    background-position: center;
    height: 300px;
}

.logo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.26);
}

header img {
    width: 30rem;
    display: inline-block;
} 