body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #000000;
}

h1 {
    margin-top: 0.8rem;
}

h2 {
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #ffffff;
}

.frame {
    margin-bottom: 2rem;
    display: flow-root;
}

.frame p {
    line-height: 1.6;
    letter-spacing: 0.05em;
}

.frame:last-child {
    margin-bottom: 0;
}

.float-left {
    width: 50%;
    margin: 0 1rem;
    float: left;
}

main {
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #000000;
}