body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 162, 0)
}


nav {
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-item {
    flex: 1;
    margin: 10px;
}

.custom-list {
    list-style: none;
    padding: 0;
}

.list-mark {
    font-size: 1.5em;
    margin-right: 10px;
    color: #333;
}





a {
    display: inline-block; 
    background-color: black;
    color: white;
    padding: 10px 20px; 
    text-decoration: none; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 90px; 
    
}
